@using Microsoft.AspNetCore.Http;
@using Phase_three_final_project.Helpers;


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Digital Retailers Inc</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Default.css" />
    </head>
    <body>
        @if (SessionHelper.GetObjectFromJson<User>(Context.Session, "user") != null)
        {
            @if (SessionHelper.GetObjectFromJson<User>(Context.Session, "user").UserType.Equals("User"))
            {
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-dark border-bottom box-shadow mb-3">
                        <div class="container">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="text-3xl text-white font-semibold">Digital</span><span class="text-3xl text-danger font-semibold">Retailers Inc</span> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-end">
                                <span class="text-white" style="margin-right:12px;">Welcome @(SessionHelper.GetObjectFromJson<User>(Context.Session, "user").Username)!!!</span>
                                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                            </div>
                        </div>
                    </nav>
                </header>}
    else if (SessionHelper.GetObjectFromJson<User>(Context.Session, "user").UserType.Equals("Admin"))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="text-3xl text-white font-semibold">Digital</span><span class="text-3xl text-danger font-semibold">Retailers Inc</span> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="ProductAdmin" asp-action="Index">ProductAdmin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Description" asp-action="Index">Description</a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-end">
                        <span class="text-white" style="margin-right:12px;">Admin @(SessionHelper.GetObjectFromJson<User>(Context.Session, "user").Username)</span>
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
    }
        }
        else
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="text-3xl text-white font-semibold">Digital</span><span class="text-3xl text-danger font-semibold">Retailers Inc</span> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon text-white"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                                </li>
                            </ul>
                        </div>
                        <div class="text-end">
                            <a asp-controller="Account" asp-action="Index" class="btn btn-outline-success">Login</a>
                            <a asp-controller="Account" asp-action="RegisterForm" class="btn btn-outline-info">Register</a>
                        </div>
                    </div>
                </nav>
            </header>
        }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container text-white">
                &copy; 2021 - Digital Retailers Inc - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
